@font-face {
  font-family: 'Graphik-Regular';
  src:  url('../../fonts/Graphik-Regular.woff2') format('woff2'),
  url('../../fonts/Graphik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik-Medium';
  src:  url('../../fonts/Graphik-Medium.woff2') format('woff2'),
  url('../../fonts/Graphik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src:  url('../../fonts/fontello.woff2') format('woff2'),
  url('../../fonts/fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}