@media screen and (max-width: 320px) {
  .container {
    width: 288px;
  }
  .header-content{
    background-position-x: center;
  }
  .header-content h1{
    font-size: 42px;
  }
  .header-nav{
    display: none;
  }
  .logo a img{
    width: 116px;
    height: 25px;
  }
  .section-study-content {
    display: block;
  }
  .study-school{
    position: relative;
    margin-bottom: 10px;
  }
  .study-school h2{
    font-size: 42px;
    padding: 0 15px;
    position: absolute;
    top: 25%;
  }
  .meet-our-faculty {
    background-color: #fff;
    padding: 20px 20px;
    max-width: none;
    height: auto;
    overflow: hidden;
  }
  .section-study {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .section-support-content {
    display: block;
  }

  .left-section-support h3 {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    font-size: 16px;
  }
  .left-section-support{
    display: flex;
    margin-right: 0;
    max-width: none;
    margin-bottom: 10px;
    align-items: center;
    p{
      display: none;
    }
  }
  .left-section-support img {
    width: 112px;
    height: 150px;
    margin-bottom: 0;
  }
  .right-section-support-info {
    padding: 75px 60px;
    margin-bottom: 10px;
  }
  .right-section-support-info h2 {
    padding: 0;
    font-size: 28px;
  }
  .right-section-support-calendar li strong {
    font-family: Graphik-Medium;
    font-size: 16px;
    color: #003963;
    display:inline-block;
    width: 240px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
  }
  .right-section-support-calendar {
    background-color: #fff;
    padding: 36px 25px 42px 25px;
    ul li{
      display: inline-block;
    }
    ul li a img{
      display: none;
    }
  }
  .right-section-support-calendar li a span {
    width: auto;
  }
  .right-section-support-btn button {
    font-size: 12px;
    padding: 11px 50px 12px 50px;
  }
  .section-great-power{
    margin-bottom: 10px;
  }
  .section-great-power-content {
    display: block;
  }
  .section-great-power-left {
    margin-right: 0;
  }
  .section-great-power-left-top {
    padding: 30px;
    margin-bottom: 15px;
    display: block;
    position: relative;
  }
  .section-great-power-left-top::after{
    display: none;
  }
  .section-great-power-left-title {
    text-align: center;
    margin-bottom: 10px;
  }
  .section-great-power-left-title h4 {
    line-height: 1;
    font-size: 28px;
  }
  .section-great-power-left-swiper {
    left: 0;
    padding: 0;
  }
  .section-great-power-left-swiper-slide img {
    width: 42px;
    height: 42px;
    border-radius: 100px;
  }
  .section-great-power-left-swiper-pagination {
    left: 14%;
  }
  .section-great-power-right {
    background-color: #fff;
    max-width: 288px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .section-great-power-right img {
    width: 112px;
    height: 150px;
  }
  .section-great-power-right h3{
    font-size: 18px;
    padding: 0 20px;
    line-height: 1.2;
    margin-bottom: 0;
    height: 86px;
    overflow: hidden;
  }
  .section-great-power-right p{
    display: none;
  }
  .section-great-power-left-bottom{
    margin-bottom: 10px;
  }
  .section-great-power-left-bottom ul {
    display: block;
  }
  .kse-research {
    padding: 30px 20px 30px 30px;
    text-align: center;
    max-width: none;
    margin-right: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .kse-research-btn {
    border-bottom: none;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    a{
      padding: 0 10px;
      &::before{
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
        bottom: -40px;
        right: -28px;
        border-right: 2px solid #DBDBDB;
      }
    }

  }
  .kse-research h3 {
    line-height: 1.2;
    font-size: 18px;
    max-width: 136px;
  }
  .ma-program{
    height: 300px;
  }
  .section-journal-list {
    display: block;
  }
  .section-journal-list-left {
    margin-right: 0;
    background-image: url(../img/UEW3.png);
    padding: 0;
    height: auto;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: none;
    margin-bottom: 10px;
    a{
      display: block;
    }
  }
  .section-journal-list-left h4 {
    color: #fff;
    font-size: 28px;
  }
  .section-journal-list-right {
    background-color: #a6c438;
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    h4{
      font-size: 29px;
    }
    a{
      padding: 0 30px;
    }
  }
  .partners-list {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0 0;
    li{
      display: flex;
      align-items: center;
      position: relative;
    }
  }
  .pump{
    width: 150px;
  }
  .footer-content {
    padding: 24px 0 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
  }
  .footer-content-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
  }
  .footer-content-left ul {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 125px;
  }
  .footer-button {
    width: 288px;
    text-align: -webkit-center;
  }
}