@import "../../node_modules/swiper/dist/css/swiper.css";
/*@import "../../node_modules/selectric/public/selectric.css"*/
@import "../../node_modules/reset-css/reset.css";
@import "../../node_modules/nouislider/distribute/nouislider.css";
@import "_partials/fonts";

*{
  box-sizing: border-box;
}
button, input, select{
  outline: none;
}
html{
  height:100%;
}
h1{
  font-family: 'Graphik-Medium';
  font-size: 72px;
  font-weight: 500;
  color: #fff;
}
h2{
  font-family: 'Graphik-Medium';
  font-size:48px;
  color:#ffffff;
  letter-spacing:-0.67px;
  font-weight: 500;
}
h3{
  font-family: 'Graphik-Medium';
  font-size:24px;
  color:#003963;
  letter-spacing:-0.5px;
  font-weight: 500;
}
h4{
  font-family: 'Graphik-Medium';
  font-size:36px;
  color:#003963;
  letter-spacing:-0.5px;
}
h5{
  font-family: 'Graphik-Medium';
  font-size:14px;
  color:#003963;
  letter-spacing:0;
  text-align:center;
}
h6{
  font-family: 'Graphik-Regular';
  font-size:12px;
  color:#ffffff;
  letter-spacing:0;
  line-height:15px;
  text-align:left;
  font-weight: 400;
}
p{
  opacity:0.5;
  font-family: 'Graphik-Regular';
  font-size:14px;
  color:#000000;
  letter-spacing:0;
  font-weight: 400;
}
a{
  text-decoration: none;
  font-family: 'Graphik-Regular';
  font-size:14px;
  font-weight: 400;
  color:#ffffff;
  letter-spacing:0;
  text-align:center;
}
button{
  background: none;
  border: none;
  cursor: pointer;
}
body{
  background-color: #F0F0F0;
}
.header-content{
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 176px;
  padding-bottom: 36px;
  position: relative;
  h1{
    max-width: 966px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    margin-bottom: 169px;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
.container{
  max-width: 1091px;
  width: 100%;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;
}
.search:hover{opacity: 0.7;}
.search-blue{
  margin-left: 45px;
}
[class^="icon-search"]:before, [class*="icon-search"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
}
.icon-search:before { content: '\E800';}
.icon-search:hover{
  opacity: 0.5;
}
.icon-search{color: #ffffff;}
.center a{
  position: relative;
}
.center a::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.2s;
  transform: scaleX(0);
}
.center a:hover:before {
  transform: scaleX(1);
}

.header-nav{
  display: inherit;
  margin-left: 200px;
  a{
    padding-bottom: 2px;
  }
  li{
    margin-right: 40px;
    &:last-child{
      margin-right: 0;
    }
  }
}
.logo a{
  display: block;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section-study{
  padding-top: 68px;
  margin-bottom: 24px;
}
///////////////////////
////////////////////////////////////
////////////////////////////////////////////
.header-studyatschool-content h1{
  text-align: center;
  color: #003963;
  font-size: 62px;
  max-width: 1057px;
  width: 100%;
  margin: 0 auto;
  padding-left: 4px;
}
.header-studyatschool-content{
  background-color: #00BACD;
  padding-top: 37px;
  padding-bottom: 97px;
  margin-bottom: 67px;
}
.section-study-forms{
  margin-bottom: 24px;
}
.section-study-forms-list{
  max-width: 1102px;
  width: 100%;
  background-color: #fff;
  padding: 26px 18px;
  height: 250px;
  li{
    display: flex;
  }
}

.section-study-forms-links-buttons{
  a{
    padding-bottom: 27px;
    font-size: 13px;
    display: block;
    color: #000;
    &:hover{color: #003963;}
    &:first-child{
      margin-right: 39px;
    }
  }
}
.center-link-team a{
  position: relative;
}
.center-link-team a::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #003963;
  transition: 0.2s;
}
.center-link-team a:hover:before {
  right: 0;
  width: 100%;
}
.section-study-forms-choose{
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
///
.check-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #fff;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #F1E935;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 4px;
  top: 0;
  width: 4px;
  height: 8px;
  border: solid #003963;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
///
.section-study-forms-choose-speciality{
  display: inherit;
  align-items: center;
  padding: 20px 0;
  a{
    font-size: 13px;
    display: block;
    color: #000;
    margin-right: 25px;
  }
}
.section-study-forms-menu-toggle_menu-click{
  position: relative;
  border: 1px solid #dfdfdf;
  border-radius:100px;
  max-width:308px;
  width: 100%;
  cursor: pointer;
  align-items: center;
  padding: 0 20px;
  a{
    display: inherit;
  }
  p{
    line-height: 39px;
    font-size: 13px;
    display: block;
    color: #000;
    opacity: 1;
    /*margin-right: 150px;*/
  }
}
.section-study-forms-menu-wrap-content{
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-align: center;
  margin-left: 20px;
  position: relative;
  a:hover::after{
    content: '';
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: -20px;
    right: 0;
    bottom: 0;
    border-radius: 100px;
  }
}
.section-study-form-checker{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  label{
    margin-right: 23px;
  }
  input[type=checkbox]{
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    &::before{
      content: '';
      border: 1px solid #000;
      border-radius: 2px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: none;
    }
  }
}
.section-study-forms-slider{
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.slider{
  display: flex;
  align-items: center;
  /*padding: 20px 0 0 0;*/
    a{
      font-size: 13px;
      display: block;
      color: #000;
      margin-right: 23px;
    }
}
///////////////////////
/*NOUISLIDER START*/
//////////////////////
.noUi-target {
  background: none;
  border-radius: none;
  border: none;
  box-shadow: none;
  width: 300px;
}
.noUi-horizontal {
  height: 5px;
}
.noUi-pips-horizontal {
  padding: 10px 0;
  height: auto;
  top: -25px;
  left: 2px;
  width: 100%;
}
.slide-start{

}
.slide-between{

}
.slide-end{

}
.noUi-connect{
  background-color: #F1E935;
}
.noUi-value{
  top: -10px;
}
.noUi-value-sub{
  top: -5px;
}
.noUi-value-large{
  display: none;
}
.noUi-value-sub{
  display: none;
}
.noUi-marker-horizontal.noUi-marker{
  width: 0;
}
.noUi-horizontal .noUi-handle{
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: #003963;
}
.noUi-handle:after{
  display: none;
}
.noUi-handle:before{
  display: none;
}
.noUi-handle {
  border: none;
  background: none;
  cursor: default;
  box-shadow: none;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -8px;
  left: auto;
  top: -4px;
}
///////////////////////
/*NOUISLIDER END*/
//////////////////////
.sort-name-margin{
  margin-right: 45px;
}
.section-studyatschool-Links{
  margin-bottom: 75px;
}
.section-studyatschool-Links-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-studyatschool-Link{
  max-width: 539px;
  width: 100%;
  margin-bottom: 25px;
  a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 29px;
    height: 300px;
  }
  h3{
    max-width: 214px;
    width: 100%;
    padding-top: 45px;
  }
}
.section-studyatschool-Link-list{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  max-width: 200px;
  width: 100%;
  padding-bottom: 70px;
}
.section-studyatschool-Link-list-name{
  font-family: 'Graphik-Regular';
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.section-studyatschool-Link-list-values{
  font-family: 'Graphik-Medium';
  font-weight: 500;
  line-height: 21px;
  font-size: 14px;
  text-align: center;
  color: #003963;
  opacity: 1;
  &:hover{
    color: #000;
  }
}
.section-studyatschool-Link-left{
  padding-right: 26px;
  border-right: 1px solid #DBDBDB;
}
.section-studyatschool-Link-right{
  padding: 0 17px 0 37px;
  p{
    max-width: 188px;
    width: 100%;
    opacity: 1;
    font-size: 14px;
  }
}
.section-studyatschool-Link-left-second{

}
////////////////////////////////////////////
////////////////////////////////////
//////////////////////
.section-study-content{
  display: flex;
  justify-content: space-between;
}
.study-school{
  background-image: url(../img/section-study-bg.png);
  max-width: 820px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: inherit;
  align-items: center;
  h2{
    padding: 0 30px;
    max-width: 565px;
    width: 100%;
    margin: 0 auto;
  }
}
.meet-our-faculty{
  background-color: #fff;
  padding: 70px 28px 83px 28px;
  max-width: 257px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  h3{
    text-align: center;
  }
  p{
    text-align:center;
    padding-top: 22px;
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section-support{
  margin-bottom: 24px;
}
.section-support-content{
  display: flex;
  justify-content: space-between;
}
.left-section-support{
  max-width: 257px;
  width: 100%;
  background-color: #fff;
  margin-right: 23px;
  display: block;
  position: relative;
  &:hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
  img{
    width: 257px;
    height: 300px;
    margin-bottom: 45px;
  }
  h3{
    padding-left: 22px;
    padding-right: 19px;
    margin-bottom: 23px;
  }
  p{
    padding: 0 34px;
  }
}
.right-section-support-info{
  padding: 102px 157px;
  background-color: #F05A42;
  margin-bottom: 24px;
  h2{
    color: #003963;
    text-align: center;
    padding: 0 8px;
  }
}
.right-section-support-calendar{
  background-color: #fff;
  padding: 36px 25px 42px 25px;
  ul{
    margin-bottom: 30px;
  }
  li{
    display: flex;
    border-bottom: 2px solid #DFDFDF;
    padding-top: 9px;
    padding-bottom: 11px;
    position: relative;
    z-index: 1;
    &:hover::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 10px 0  10px 0;
    }
  }
  ul li a{
    z-index: 10;
  }
  img{
    margin-right: 7px;
    vertical-align: bottom;
  }
  li a span{
    opacity:0.5;
    font-family: 'Graphik-Regular';
    font-size:14px;
    color:#000000;
    letter-spacing:0;
    text-align:left;
    width: 132px;
    display: inline-block;
  }
  li strong{
    font-family: 'Graphik-Medium';
    font-size:16px;
    color:#003963;
    letter-spacing:0;
    text-align:left;
  }
}
.right-section-support-btn {
  text-align: center;
  button {
    font-family: 'Graphik-Medium';
    font-size: 14px;
    color: #003963;
    border: 1px solid #f1e935;
    letter-spacing: 0;
    padding: 11px 69px 12px 57px;
    background-color: #f1e935;
    border-radius: 100px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section-great-power{
  margin-bottom: 24px;
}
.section-great-power-content{
  display: flex;
}
.section-great-power-left{
  margin-right: 19px;
}
.section-great-power-left-top{
  background-color: #00BACD;
  padding: 25px 37px 25px 44px;
  margin-bottom: 24px;
  height: 300px;
  display: flex;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    right: 269px;
    bottom: 25px;
    border-right: 2px solid #003963;
  }
}
.section-great-power-left-title{
  text-align:center;
  margin: auto 0;
  h4{
    line-height: 1.4;
  }
}
.section-great-power-left-swiper{
  max-width: 269px;
  width: 100%;
  padding: 45px 60px;
  position: relative;
  left: 5%;
}
.section-great-power-right{
  background-color: #fff;
  max-width: 258px;
  width: 100%;
  display: block;
  position: relative;
  &:hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
  img{
    width: 257px;
    height: 208px;
  }
  h3{
    padding-top: 37px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 24px;
    line-height: 1.2;
  }
  p{
    padding: 0 35px;
  }
}
.section-great-power-left-swiper-container{

}
.section-great-power-left-swiper-pagination{
  position: absolute;
  top: 88%;
  right: 14%;
}
.swiper-pagination-bullet{
  margin-right: 7px;
  &.swiper-pagination-bullet-active {
    width: 3px;
    height: 4px;
  }
}
.slide-img-1{
  text-align: center;
  margin-bottom: 15px;
}
.section-great-power-left-swiper-slide{
  img{
    width: 61px;
    height: 61px;
    border-radius: 100px;
  }
  strong{
    font-family: 'Graphik-Medium';
    font-weight: 500;
    color: #003963;
    display: block;
  }
  p{
    font-family: 'Graphik-Regular';
    font-weight: 400;
    color: #003963;
    text-align: center;
  }
}
.section-great-power-left-bottom ul{
  display: flex;
}
.kse-research{
  background-color: #fff;
  padding: 0 26px 107px 26px;
  text-align: center;
  max-width: 256px;
  width: 100%;
  margin-right: 24px;
  h3{
    line-height: 1.2;
  }
}
.kse-research-btn{
  border-bottom: 1px solid #DBDBDB;
  text-align: center;
  margin-bottom: 56px;
  a{
    display: block;
    padding: 16px 0;
    color: rgba(0, 0, 0, 0.5);
    &:hover{
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
.ma-program{
  background-color: #F1E935;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section-journal{
  margin-bottom: 24px;
}
.section-journal-list{
  display: flex;
  justify-content: space-between;
}
.section-journal-list-left{
  margin-right: 25px;
  background-image: url(../img/UEW3.png);
  padding: 129px 0;
  max-width: 539px;
  width: 100%;
  text-align: center;
  h4{
    color: #fff;
  }
}
.section-journal-list-right{
  background-color: #A6C438;
  padding: 102px 47px 113px 42px;
  h4{
    max-width: 468px;
    width: 100%;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section-partners{
  padding-top: 67px;
  margin-bottom: 110px;
}
.partners-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 75px 0 75px;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.footer{
  background-color: #003963;
}
.footer-content{
  padding: 24px 0 100px 0;
  display: flex;
  justify-content: space-between;
}
.footer-content-left{
  display: flex;
  ul{
    margin-right: 60px;
  }
  ul li a:hover{
    opacity: 0.5;
  }
}
.kse-place{
  max-width: 146px;
  width: 100%;
}
.footer-content-right{

}
.footer-button{
  border: 1px solid #fff;
  border-radius: 100px;
  &:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
  a{
    display: block;
  }
  img{
    margin-right: 7px;
  }
  button{
    display: flex;
    padding: 9px 20px;
  }
  p {
    font-family: 'Graphik-Regular';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    opacity: 1;
  }
}
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
///////////////////////////////////////////////////////*ABOUT THE SCHOOL PAGE START!!!*/////////////////////////////////
.header-content-about-the-school{
  padding: 37px 0 137px 0;
  background-image: url(../img/about-the-school-header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 64px;
  h1{
    max-width: 966px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    margin-bottom: 50px;
  }
  &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
    mix-blend-mode: normal;
    opacity: 0.4;
    transform: rotate(-180deg);
    z-index: 1;
  }
}
.header-about-the-school{
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 37px;
  margin-bottom: 66px;
}
.ats-header-text{
  font-family: 'Graphik-Regular';
  max-width: 790px;
  margin: 0 auto;
  height: 250px;
  overflow: hidden;
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
  position: relative;
  z-index: 10;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section-team{
  margin-bottom: 25px;
}
.section-team-content{
  display: flex;
}
.section-team-content-left{
  background-color: #fff;
  padding: 36px 17px 30px 19px;
  max-width: 820px;
  width: 100%;
  height: 300px;
  margin-right: 24px;
}
.section-team-content-left-title{
  padding-top: 5px;
  text-align: center;
  border-bottom: 1px solid #DBDBDB;
  h4{padding-bottom: 37px;}
  margin-bottom: 28px;
}
.section-team-content-left-list{
  li{
    margin-bottom: 18px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  a{
    display: flex;
    justify-content: space-between;
    padding: 1px 2px;
    &:hover{
      background-color: rgba(0, 0, 0, 0.1);
      /*border-radius: 10px;*/
      position: relative;
      &::before{
         content: '';
         position: absolute;
         top: 0;
         bottom: 0;
         left: -19px;
         right: 100%;
         background-color: rgba(0, 0, 0, 0.1);
       }
      &::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        right: -17px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
.section-team-list-title{
  color: #000000;
  opacity: 1;
  font-size: 16px;
}
.section-team-content-right a{
  display: block;
  height: 300px;
  overflow: hidden;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.2;
  }
}
.section-team-content-right-title{
  font-family: 'Graphik-Medium';
  font-weight: 500;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 18%;
  z-index: 10;
  max-width: 165px;
  width: 100%;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section-calendar{
  margin-bottom: 25px;
}
.section-calendar-content{
  display: flex;
}
.section-calendar-left{
  background-color: #00BACD;
  width: 257px;
  height: 300px;
  margin-right: 24px;
  overflow: hidden;
  display: inherit;
  align-items: center;
  h3{
    margin: 0 auto;
    width: 130px;
    text-align: center;
  }
}
////////
  .section-calendar-center{
    max-width: 563px;
    width: 100%;
    background-color: #fff;
  }
  .calendar-title{
    font-family: 'Graphik-Medium';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #DBDBDB;
    opacity: 1;
    padding: 13px 0 15px 0;
    color: #003963;
    margin-bottom: 21px;
  }
  .calendar{
    max-width: 365px;
    width: 100%;
    margin: 0 auto;
  }
  .calendar-month{
    display: flex;
    justify-content: space-between;
    a{
      color: rgba(0, 0, 0, 0.5);
      width: 38px;
      height: 38px;
      text-align: center;
    }
  }
  .calendar-days{
    display: flex;
    justify-content: space-between;
    a {
      color: rgb(0, 0, 0);
      width: 38px;
      height: 38px;
      text-align: center;
      border-radius: 100px;
      padding-top: 12px;
      &:hover {
        background-color: #F0F0F0;
        background-size: cover;
      }
    }
  }
.calendar-month-opacity{
  opacity: 0.5;
}
////////
.section-calendar-right{
  background-color: #F1E935;
  width: 257px;
  height: 300px;
  overflow: hidden;
  display: inherit;
  align-items: center;
  h3{
    margin: 0 auto;
    width: 180px;
    text-align: center;
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section-kse-list{
  margin-bottom: 25px;
}
.section-kse-list-content{
  display: flex;
}
.section-kse-list-left{
  max-width: 820px;
  width: 100%;
  margin-right: 24px;
  ul{
    background-color: #A6C438;
  }
  li{
    border-bottom: 1px solid #003963;
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    &:hover:before{
      content: '';
      position: absolute;
      top: 0;
      left: -24px;
      right: -24px;
      bottom: 0;
      background-color: rgba(0,0,0,0.2);
    }
    &:last-child{
      border: none;
    }
  }
  li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 4px 24px 13px;
  }
}
.section-kse-list-right{
  background-color: #F05A42;
  width: 257px;
  overflow: hidden;
  display: inherit;
  align-items: center;
  h3{
    margin: 0 auto;
    width: 170px;
    text-align: center;
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section-school-vision{
  margin-bottom: 100px;
  a{
    display: block;
    height: 347px;
    position: relative;
    z-index: 1;
    &:hover{
      opacity: 0.9;
      h2{
        color: lightslategrey;
      }
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    h2{
      position: absolute;
      top: 114px;
      left: 20%;
      max-width: 700px;
      width: 100%;
      z-index: 5;
    }
  }
  img{
    max-width: 1101px;
    width: 100%;
    height: 347px;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.footer-top{
  padding-top: 57px;
  margin-bottom: 121px;
  h5{
    color: #fff;
    font-size: 12px;
  }
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 75px 0 75px;
  }
}
.footer-list{
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 565px;
  margin-bottom: 24px;
  h6{
    margin-bottom: 26px;
    text-align: center;
  }
  &::before{
    content: '';
    height: 1px;
    width: 1093px;
    position: absolute;
    background-color: #fff;
    top: 22px;
    left: 0;
  }
  &::after{
    content: '';
    height: 1px;
    width: 1093px;
    position: absolute;
    background-color: #fff;
    bottom: -20px;
    right: 0;
  }
}
.footer-list-left{
  padding-left: 48px;
  text-align: center;
  ul{overflow: auto;}
  a:hover{
    opacity: 0.5;
  }
}
.footer-list-center{
  text-align: center;
  width: 520px;
  a:hover{
    opacity: 0.5;
  }
}
.center-list{
  display: flex;
  justify-content: space-between;
  height: 498px;
  overflow-y: hidden;
  ul{

  }
}
.footer-list-right{
  padding-right: 48px;
  text-align: center;
  ul{overflow: auto;}
  a:hover{
    opacity: 0.5;
  }
}
///////////////////////////////////////////////////////*ABOUT THE SCHOOL PAGE END!!!*///////////////////////////////////
///////////////////////////////////////////////////////*EDUCATION PAGE START!!!*///////////////////////////////////
.header-content-education{
  background-color: #A6C438;
  padding-top: 37px;
  padding-bottom: 83px;
  margin-bottom: 64px;
  //padding-bottom: 100px;
  //margin-bottom: 64px;
  h1{
    text-align: center;
    color: #003963;
    margin-bottom: 45px;
  }
}
.header-education{
  margin-bottom: 120px;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 83px;
    left: -42px;
    bottom: 0;
    right: -42px;
    height: 1px;
    background-color: #003963;
  }
}
.education-header-text{
  max-width: 650px;
  width: 100%;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  opacity: 1;
  color: #003963;
  line-height: 25px;
  font-size: 18px;
}
.header-nav-education{
  color: #003963;
  /*margin-left: 125px;*/
  a{color: #003963;}
}
.center-education a::before{
  content: '';
  background-color: #003963;
}
.search-education{
  color: #003963;
}
.section-team-content-right-title-educ{
  max-width: 160px;
}
.ed-h{
  h4 {
    padding-bottom: 21px;
  }
}
.section-team-content-educ-left-title{
  display: flex;
  a{
    padding-bottom: 12px;
    font-size: 13px;
    display: block;
    color: #000;
    &:hover{color: #003963;}
    &:first-child{
      margin-right: 39px;
    }
  }
}
.center-link-team a{
  position: relative;
}
.center-link-team a::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #003963;
  transition: 0.2s;
}
.center-link-team a:hover:before {
  right: 0;
  width: 100%;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.executive-ed{
  max-width: 810px;
  width: 100%;
  height: 500px;
}
.section-team-content-left-list-ed{

}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section-kse-educatio-list{
  margin-bottom: 101px;
  ul{
    display: flex;
    margin-bottom: 25px;
  }
}
.kse-research-ed{
  height: 300px;
}
.ma-program-ed{
  max-width: 530px;
  width: 100%;
  height: 300px;
  background-color: #A6C438;
}
.open-on-line{
  padding: 0 10px 126px 10px;
  background-color: #F1E935;
  h3{
    padding-top: 100px;
  }
}
.info-school-ed{
  background-color: #fff;
  padding: 0;
  display: flex;
  height: 300px;
  overflow: hidden;
  h3{
    max-width: 300px;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 52px;
  }
  p{
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
  }
  img{
    margin-right: 35px;
  }
}
///////////////////////////////////////////////////////*EDUCATION PAGE END!!!*///////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
@import "_partials/media";