<div class="header header-education">
    <div class="logo"><a href="index.html"><img src="img/header-logo-education.png" alt="Header-Logo"></a></div>
    <ul class="header-nav header-nav-education">
        <li class="center center-education"><a href="education.html" target="_blank">Education</a></li>
        <li class="center center-education"><a href="research.html">Research</a></li>
        <li class="center center-education"><a href="#">Community</a></li>
        <li class="center center-education"><a href="#">Impact</a></li>
        <li class="center center-education"><a href="abouttheschool.html" target="_blank">About the School</a></li>
    </ul>
    <div class="search search-blue"><a href="" class=""><img src="img/header-nav-search.png" alt=""></a></div>
</div>