<div class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-content-left">
                <ul>
                    <li class="kse-place"><a href="">© 2017, Ukraine Kyiv School of Economics 94—92 Dmytrivska str.</a></li>
                </ul>
                <ul>
                    <li><a href="">+38 044 492 80 12</a></li>
                    <li><a href="">+38 067 434 72 06</a></li>
                    <li><a href="">info@kse.org.ua</a></li>
                </ul>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Medium</a></li>
                    <li><a href="">YouTube</a></li>
                </ul>
                <ul>
                    <li><a href="">Telegram</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                </ul>
            </div>
            <div class="footer-content-right">
                <div class="footer-button">
                    <button><a href=""><img src="img/ukraine-flag.png" alt=""></a><p>Читати українською</p></button>
                </div>
            </div>
        </div>
    </div>
</div>