<div class="header">
    <div class="logo"><a href="#"><img src="img/header-logo.png" alt="Header-Logo"></a></div>
    <ul class="header-nav">
        <li class="center"><a href="education.html">Education</a></li>
        <li class="center"><a href="#">Research</a></li>
        <li class="center"><a href="#">Community</a></li>
        <li class="center"><a href="#">Impact</a></li>
        <li class="center"><a href="abouttheschool.html" target="_blank">About the School</a></li>
    </ul>
    <div class="search"><a href="" class=""><img src="img/header-nav-search-white.png" alt=""></a></div>
</div>
