//= _head.html
    <div class="header-content-about-the-school">
            <div class="container">
                <div class="header-about-the-school">
               //= _header.html
                </div>
                <h1>About the School</h1>
                <p class="ats-header-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida hendrerit. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida hendrerit. Nam mattis dignissim tortor, a auctor tortor accumsan ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
    </div>
    <div class="section-team">
        <div class="container">
            <div class="section-team-content">
                <div class="section-team-content-left">
                    <div class="section-team-content-left-title">
                        <h4>Our Leadership Team</h4>
                    </div>
                    <ul class="section-team-content-left-list">
                        <li><a href=""><p class="section-team-list-title">Honorary President</p><img src="img/section-team-arrow.png" alt=""></a></li>
                        <li><a href=""><p class="section-team-list-title">Board Of Directors</p><img src="img/section-team-arrow.png" alt=""></a></li>
                        <li><a href=""><p class="section-team-list-title">International Academic Board</p><img src="img/section-team-arrow.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="section-team-content-right">
                    <a href=""><p class="section-team-content-right-title">Become a Part of KSE Team</p><img src="img/section-team-content-right-img.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-calendar">
        <div class="container">
            <div class="section-calendar-content">
                <div class="section-calendar-left">
                    <h3>Since 1996: Our History
                    </h3>
                </div>
                <div class="section-calendar-center">
                    <p class="calendar-title">August 2017</p>
                    <div class="calendar">
                    <div class="calendar-month">
                        <a href="">M</a>
                        <a href="">T</a>
                        <a href="">W</a>
                        <a href="">Th</a>
                        <a href="">Fr</a>
                        <a href="">St</a>
                        <a href="">S</a>
                    </div>
                        <div class="calendar-days">
                            <a href="" class="calendar-month-opacity">30</a>
                            <a href="" class="calendar-month-opacity">30</a>
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href="">4</a>
                            <a href="">5</a>
                        </div>
                        <div class="calendar-days">
                            <a href="">6</a>
                            <a href="">7</a>
                            <a href="">8</a>
                            <a href="">9</a>
                            <a href="">10</a>
                            <a href="">11</a>
                            <a href="">12</a>
                        </div>
                        <div class="calendar-days">
                            <a href="">13</a>
                            <a href="">14</a>
                            <a href="">15</a>
                            <a href="">16</a>
                            <a href="">17</a>
                            <a href="">18</a>
                            <a href="">19</a>
                        </div>
                        <div class="calendar-days">
                            <a href="">20</a>
                            <a href="">21</a>
                            <a href="">22</a>
                            <a href="">23</a>
                            <a href="">24</a>
                            <a href="">25</a>
                            <a href="">26</a>
                        </div>
                        <div class="calendar-days">
                            <a href="">27</a>
                            <a href="">28</a>
                            <a href="">29</a>
                            <a href="">30</a>
                            <a href="">31</a>
                            <a href="" class="calendar-month-opacity">1</a>
                            <a href="" class="calendar-month-opacity">2</a>
                        </div>
                    </div>
                </div>
                <div class="section-calendar-right">
                    <h3>KSE Case Club: Startup Survival Rules by Andrii Drobot
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section-kse-list">
        <div class="container">
            <div class="section-kse-list-content">
                <div class="section-kse-list-left">
                    <ul>
                        <li><a href=""><img src="img/kse-logo-list-1.png" alt=""><div><img src="img/kse-logo-list-arrow.png" alt=""></div></a></li>
                        <li><a href=""><img src="img/kse-logo-list-2.png" alt=""><img src="img/kse-logo-list-arrow.png" alt=""></a></li>
                        <li><a href=""><img src="img/kse-logo-list-3.png" alt=""><img src="img/kse-logo-list-arrow.png" alt=""></a></li>
                        <li><a href=""><img src="img/kse-logo-list-4.png" alt=""><img src="img/kse-logo-list-arrow.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="section-kse-list-right">
                    <h3>Regulations and Policies</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section-school-vision">
        <div class="container">
            <a href=""><img src="img/school-vision.png" alt=""><h2>Kyiv School of Economics 2023 Vision</h2></a>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <h5>Strategic Partners</h5>
                <ul>
                    <li><a href=""><img src="img/sw-white.png" alt=""></a></li>
                    <li><a href=""><img src="img/icu-white.png" alt=""></a></li>
                    <li><a href=""><img src="img/pumb-white.png" alt=""></a></li>
                    <li><a href=""><img src="img/rba-white.png" alt=""></a></li>
                    <li><a href=""><img src="img/ks-white.png" alt=""></a></li>
                    <li><a href=""><img src="img/visa-white.png" alt=""></a></li>
                </ul>
            </div>
            <div class="footer-list">
                <div class="footer-list-left">
                    <h6>Partners</h6>
                    <ul>
                        <li><a href="">Anonymous</a></li>
                        <li><a href="">Dragon Capital</a></li>
                        <li><a href="">Digital Future</a></li>
                        <li><a href="">PUMB</a></li>
                    </ul>
                </div>
                <div class="footer-list-center">
                    <h6>Individual Support</h6>
                    <div class="center-list">
                    <ul>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Oleksandr Kravchenko</a></li>
                        <li><a href="">Vitalii Zaiets</a></li>
                        <li><a href="">Alina Slyusarchuk</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Lyubomyr Pelykh</a></li>
                        <li><a href="">Roman Sheremeta</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                        <li><a href="">Marius Bordalba</a></li>
                        <li><a href="">Vasiliy Furman</a></li>
                        <li><a href="">Michael Oliinyk</a></li>
                        <li><a href="">Illia Taran</a></li>
                        <li><a href="">Iryna Demko</a></li>
                    </ul>
                    </div>
                </div>
                <div class="footer-list-right">
                    <h6>Scholarships</h6>
                    <ul>
                        <li><a href="">Sviatoslav Vakarchuk</a></li>
                        <li><a href="">Peter Chernyshov</a></li>
                        <li><a href="">Volodymyr Lavrenchuk</a></li>
                        <li><a href="">Sergiy Gusovsky</a></li>
                        <li><a href="">Yevgen Gusovskyy</a></li>
                        <li><a href="">Andriy Zdesenko</a></li>
                        <li><a href="">Alex Lissitsa</a></li>
                        <li><a href="">Yegor Grygorenko</a></li>
                        <li><a href="">Yuriy Gorodnichenko</a></li>
                        <li><a href="">Tymofiy Mylovanov</a></li>
                        <li><a href="">Zoya Mylovanova</a></li>
                        <li><a href="">Victoria Strakhova</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-content">
                <div class="footer-content-left">
                <ul>
                    <li class="kse-place"><a href="">© 2017, Ukraine Kyiv School of Economics 94—92 Dmytrivska str.</a></li>
                </ul>
                <ul>
                    <li><a href="">+38 044 492 80 12</a></li>
                    <li><a href="">+38 067 434 72 06</a></li>
                    <li><a href="">info@kse.org.ua</a></li>
                </ul>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Medium</a></li>
                    <li><a href="">YouTube</a></li>
                </ul>
                <ul>
                    <li><a href="">Telegram</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                </ul>
                </div>
                <div class="footer-content-right">
                    <div class="footer-button">
                        <button><a href=""><img src="img/ukraine-flag.png" alt=""></a><p>Читати українською</p></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<link rel="stylesheet" href="css/style.css">
<script src="js/main.js"></script>
</body>
</html>