//= _head.html
<div class="header-content-education">
    <div class="container">
        //= _blue-header.html
        <h1>Education</h1>
        <p class="education-header-text">Dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida hendrerit. Consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum.</p>
    </div>
</div>
<div class="section-team">
    <div class="container">
        <div class="section-team-content">
            <div class="section-team-content-left">
                <div class="section-team-content-left-title ed-h">
                    <h4>Degree Programs</h4>
                    <div class="section-team-content-educ-left-title">
                    <div class="center-link-team"><a href=""><strong>Master Programs</strong></a></div>
                    <div class="center-link-team"><a href=""><strong>MBA’s</strong></a></div>
                    </div>
                </div>
                <ul class="section-team-content-left-list">
                    <li><a href=""><p class="section-team-list-title">Master’s Program in Business and Financial Economics</p><img src="img/section-team-arrow.png" alt=""></a></li>
                    <li><a href=""><p class="section-team-list-title">Master’s Program in Mathematical Economics and Econometrics</p><img src="img/section-team-arrow.png" alt=""></a></li>
                    <li><a href=""><p class="section-team-list-title">Master’s Program in Economic Analysis</p><img src="img/section-team-arrow.png" alt=""></a></li>
                </ul>
            </div>
            <div class="section-team-content-right">
                <a href=""><p class="section-team-content-right-title section-team-content-right-title-educ">Search All KSE Programs</p><img src="img/section-team-content-right-educ-img.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="section-team">
    <div class="container">
        <div class="section-team-content">
            <div class="section-team-content-left executive-ed">
                <div class="section-team-content-left-title ed-h">
                    <h4>Executive Education</h4>
                    <div class="section-team-content-educ-left-title">
                        <div class="center-link-team"><a href=""><strong>Short-term</strong></a></div>
                        <div class="center-link-team"><a href=""><strong>Mid-term</strong></a></div>
                    </div>
                </div>
                <ul class="section-team-content-left-list">
                    <li><a href=""><p class="section-team-list-title">Marketing</p><img src="img/section-team-arrow.png" alt=""></a></li>
                    <li><a href=""><p class="section-team-list-title">Finance</p><img src="img/section-team-arrow.png" alt=""></a></li>
                    <li><a href=""><p class="section-team-list-title">Project Management</p><img src="img/section-team-arrow.png" alt=""></a></li>
                    <li><a href=""><p class="section-team-list-title">Risk Management</p><img src="img/section-team-arrow.png" alt=""></a></li>
                    <li><a href=""><p class="section-team-list-title">Strategic Planning</p><img src="img/section-team-arrow.png" alt=""></a></li>
                    <li><a href=""><p class="section-team-list-title">Business Communications</p><img src="img/section-team-arrow.png" alt=""></a></li>
                    <li><a href=""><p class="section-team-list-title">IT Business</p><img src="img/section-team-arrow.png" alt=""></a></li>
                    <li><a href=""><p class="section-team-list-title">MA in Public Policy and Governance</p><img src="img/section-team-arrow.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section-kse-educatio-list">
    <div class="container">
        <ul>
            <li class="kse-research kse-research-ed"><div class="kse-research-btn"><a href="#">News</a></div><h3>KSE Launches Free Entrepreneurial Program for ATO Veterans</h3></li>
            <li class="ma-program ma-program-ed"><h4>Infromation on Scholarships</h4></li>
        </ul>
        <ul>
            <li class="kse-research kse-research-ed open-on-line"><h3>Digital Marketing Open Online Course</h3></li>
            <li class="ma-program ma-program-ed info-school-ed">
                <div><a href=""><img src="img/info-school-ed-img.png" alt=""></a></div>
                <div><h3>School Gave Me the Professional Education and Good Network of Contacts</h3><p>Interview with Dmytro Sologub, Deputy Governor at the National Bank of Ukraine</p></div></li>
        </ul>
    </div>
</div>
//= _footer.html
<link rel="stylesheet" href="css/style.css">
<script src="js/main.js"></script>
</body>
</html>