
//= _head.html
    <div class="header-content">
            <div class="container">
                <h1>Make Impact With
                    Kyiv School of Economics</h1>
                <!--<div class="header">-->
                    <!--<div class="logo"><a href="index.html"><img src="img/header-logo.png" alt="Header-Logo"></a></div>-->
                    <!--<ul class="header-nav">-->
                        <!--<li class="center"><a href="education.html" target="_blank">Education</a></li>-->
                        <!--<li class="center"><a href="research.html">Research</a></li>-->
                        <!--<li class="center"><a href="#">Community</a></li>-->
                        <!--<li class="center"><a href="#">Impact</a></li>-->
                        <!--<li class="center"><a href="abouttheschool.html" target="_blank">About the School</a></li>-->
                    <!--</ul>-->
                    <!--<div class="search"><a href="" class="icon-search"></a></div>-->
                <!--</div>-->
                //= _header.html
            </div>
    </div>
    <div class="section-study">
        <div class="container">
            <div class="section-study-content">
                <a href="studyatschool.html" class="study-school">
                    <h2>Study at Kyiv School of Economics</h2>
                </a>
                <div class="meet-our-faculty">
                    <h3>Meet <br /> Our Faculty</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section-support">
        <div class="container">
            <div class="section-support-content">
                <a href="#" class="left-section-support">
                        <img src="img/Dmytro_Sologub.png" alt="">
                        <h3>National Bank’s Policy Should be Based on Research</h3>
                        <p>Interview with Dmytro Sologub, Deputy Governor at the National Bank of Ukraine</p>
                </a>
                <div class="right-section-support">
                    <div class="right-section-support-info">
                        <h2>Support Kyiv School of Economics</h2>
                    </div>
                    <div class="right-section-support-calendar">
                        <ul>
                            <li><a href=""><img src="img/Calendar-icon.png" alt=""><span>October 12</span><strong>Data for Sustainable Growth</strong></a></li>
                            <li><a href=""><img src="img/Calendar-icon.png" alt=""><span>October 7</span><strong>A Players and Company Power Games to Succeed by Iryna Romanenko</strong></a></li>
                            <li><a href=""><img src="img/Calendar-icon.png" alt=""><span>October 3</span><strong>Discussion: Best Practices in Government Accountability of Ukrainian Economy</strong></a></li>
                            <li><a href=""><img src="img/Calendar-icon.png" alt=""><span>September 28</span><strong>Case Club Meeting</strong></a></li>
                        </ul>
                        <div class="right-section-support-btn">
                            <button>See All Calendar Events</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-great-power">
        <div class="container">
            <div class="section-great-power-content">
                <div class="section-great-power-left">
                    <div class="section-great-power-left-top">
                        <div class="section-great-power-left-title"><h4>Great Schools Become a Source of Great Power</h4></div>
                        <div class="section-great-power-left-swiper">
                            <!-- Slider main container -->
                            <div class="section-great-power-left-swiper-container swiper-container">
                                <!-- Additional required wrapper -->
                                <div class="section-great-power-left-swiper-wrapper swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="section-great-power-left-swiper-slide swiper-slide">
                                        <div class="slide-img-1"><a href=""><img src="img/Myerson-Roger.png" alt=""></a></div>
                                        <p><strong>Roger Myerson</strong> Nobel Laureate, member of KSE International Advisoty Board</p>
                                    </div>
                                    <div class="section-great-power-left-swiper-slide swiper-slide">
                                        <div class="slide-img-1"><a href=""><img src="img/Myerson-Roger.png" alt=""></a></div>
                                        <p><strong>Roger Myerson</strong> Nobel Laureate, member of KSE International Advisoty Board</p>
                                    </div>
                                    <div class="section-great-power-left-swiper-slide swiper-slide">
                                        <div class="slide-img-1"><a href=""><img src="img/Myerson-Roger.png" alt=""></a></div>
                                        <p><strong>Roger Myerson</strong> Nobel Laureate, member of KSE International Advisoty Board</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- If we need pagination -->
                        <div class="section-great-power-left-swiper-pagination swiper-pagination"></div>
                    </div>
                </div>
                    <a href="#" class="section-great-power-right">
                        <img src="img/Serhiy-Potapov.png" alt="">
                        <h3>It is Hard to Choose the Right Change Option Without the Understanding of Values</h3>
                        <p>Talk with Serhiy Potapov, Adjunct Assistant Professor at MBA program, Consultant in the Ministry of Economy of Ukraine</p>
                    </a>
            </div>
        </div>
    </div>
<div class="section-great-power-left-bottom">
    <div class="container">
    <ul>
        <li class="kse-research"><div class="kse-research-btn"><a href="#">News</a></div><div class=""><h3>KSE Research on Reforms Cited in Financial Times</h3></li>
        <li class="ma-program"><h4>MA Program Enrollment Opened</h4></li>
    </ul>
    </div>
</div>
    <div class="section-journal">
        <div class="container">
            <ul class="section-journal-list">
                <li class="section-journal-list-left">
                    <a href="">
                        <h4>KSE BrainChamp</h4>
                    </a>
                </li>
                <li class="section-journal-list-right">
                    <a href="">
                        <h4>Journal Of Economics  Issue #1 Released</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="section-partners">
        <div class="container">
            <h5>Strategic Partners</h5>
            <ul class="partners-list">
                <li><a href=""><img src="img/Sweden-logotype.png" alt=""></a></li>
                <li><a href=""><img src="img/ICU-logotype.png" alt=""></a></li>
                <li><a href=""><img src="img/PUMB-logotype.png" alt="" class="pump"></a></li>
                <li><a href=""><img src="img/RBA-logotype.png" alt=""></a></li>
                <li><a href=""><img src="img/VISA-logotype.png" alt=""></a></li>
                <li><a href=""><img src="img/KS-logotype.png" alt=""></a></li>
            </ul>
        </div>
    </div>
    <!--<div class="footer">-->
        <!--<div class="container">-->
            <!--<div class="footer-content">-->
                <!--<div class="footer-content-left">-->
                <!--<ul>-->
                    <!--<li class="kse-place"><a href="">© 2017, Ukraine Kyiv School of Economics 94—92 Dmytrivska str.</a></li>-->
                <!--</ul>-->
                <!--<ul>-->
                    <!--<li><a href="">+38 044 492 80 12</a></li>-->
                    <!--<li><a href="">+38 067 434 72 06</a></li>-->
                    <!--<li><a href="">info@kse.org.ua</a></li>-->
                <!--</ul>-->
                <!--<ul>-->
                    <!--<li><a href="">Facebook</a></li>-->
                    <!--<li><a href="">Medium</a></li>-->
                    <!--<li><a href="">YouTube</a></li>-->
                <!--</ul>-->
                <!--<ul>-->
                    <!--<li><a href="">Telegram</a></li>-->
                    <!--<li><a href="">Instagram</a></li>-->
                    <!--<li><a href="">Twitter</a></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<div class="footer-content-right">-->
                    <!--<div class="footer-button">-->
                        <!--<button><a href=""><img src="img/ukraine-flag.png" alt=""></a><p>Читати українською</p></button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    //= _footer.html
<link rel="stylesheet" href="css/style.css">
<script src="js/main.js"></script>
</body>
</html>