//= _head.html
<div class="header-studyatschool-content">
    <div class="container">
//= _blue-header.html
        <h1>Study at Kyiv School of Economics</h1>
    </div>
</div>
<div class="section-study-forms">
    <div class="container">
        <ul class="section-study-forms-list">
            <li class="section-study-forms-links">
                <div class="section-study-forms-links-buttons center-link-team"><a href="">All Programs</a></div>
                <div class="section-study-forms-links-buttons center-link-team"><a href="">Business</a></div>
                <div class="section-study-forms-links-buttons center-link-team"><a href="">Economics</a></div>
                <div class="section-study-forms-links-buttons center-link-team"><a href="">Public Affairs</a></div>
            </li>
            <li class="section-study-forms-choose">
                <div class="section-study-forms-choose-speciality">
                    <a href="">Specialty:</a>
                    <ul>
                        <li class="section-study-forms-menu-toggle_menu-click">
                            <p style="margin-right: 150px;">All Specialties</p>
                            <div><img src="img/section-study-forms-menu-toggle_menu-click-img.png" alt=""></div>
                        </li>
                        <li class="section-study-forms-menu-wrap-content"><a href="">All Specialties</a></li>
                        <li class="section-study-forms-menu-wrap-content"><a href="">All Specialties</a></li>
                        <li class="section-study-forms-menu-wrap-content"><a href="">All Specialties</a></li>
                        <li class="section-study-forms-menu-wrap-content"><a href="">All Specialties</a></li>
                    </ul>
                </div>
                <div class="section-study-forms-choose-form">
                    <form action="" novalidate class="section-study-form-checker">
                        <label>Show only:</label>
                        <label class="check-container"><input type="checkbox" name="vehicle" value="Degree programs"> <span class="checkmark"></span>Degree programs</label>
                        <label class="check-container"><input type="checkbox" name="vehicle" value="Part-time"> <span class="checkmark"></span>Part-time</label>
                        <label class="check-container"><input type="checkbox" name="vehicle" value="Scholarship"> <span class="checkmark"></span>Scholarship</label>
                    </form>
                </div>
            </li>
            <li class="section-study-forms-slider">
                <div class="slider"><a href="">Duration:</a>
                    <div id="slider">
                        <div class="noUi-value noUi-value-horizontal slide-start" data-value="2d" style="color: #575757; font-size: 10px; top: -30px; left: 0%;">2d</div>
                        <div class="noUi-value noUi-value-horizontal slide-between" data-value="2w" style="color: #575757; font-size: 10px; top: -30px; left: 25%;">2w</div>
                        <div class="noUi-value noUi-value-horizontal slide-between" data-value="3m" style="color: #575757; font-size: 10px; top: -30px; left: 50%;">3m</div>
                        <div class="noUi-value noUi-value-horizontal slide-between" data-value="1y" style="color: #575757; font-size: 10px; top: -30px; left: 75%;">1y</div>
                        <div class="noUi-value noUi-value-horizontal slide-end" data-value="2y" style="color: #575757; font-size: 10px; top: -30px; left: 100%;">2y</div>
                    </div>
                </div>
                <div class="section-study-forms-choose-speciality">
                    <a href="">Sort:</a>
                    <ul>
                        <li class="section-study-forms-menu-toggle_menu-click">
                            <p class="sort-name-margin">Name</p>
                            <div><img src="img/section-study-forms-menu-toggle_menu-click-img.png" alt=""></div>
                        </li>
                        <li class="section-study-forms-menu-wrap-content"><a href="">All Specialties</a></li>
                        <li class="section-study-forms-menu-wrap-content"><a href="">All Specialties</a></li>
                        <li class="section-study-forms-menu-wrap-content"><a href="">All Specialties</a></li>
                        <li class="section-study-forms-menu-wrap-content"><a href="">All Specialties</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="section-studyatschool-Links">
    <div class="container">
        <div class="section-studyatschool-Links-wrap">
        <div class="section-studyatschool-Link"><a href="">
            <div class="section-studyatschool-Link-left">
                <h3>Master’s Program in Business and Financial Economics</h3>
                <ul class="section-studyatschool-Link-list">
                    <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                    <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                </ul>
            </div>
            <div class="section-studyatschool-Link-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
            </div>
        </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3 class="section-studyatschool-Link-left-second">Master’s Program in Economic Analysis</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
            <div class="section-studyatschool-Link"><a href="">
                <div class="section-studyatschool-Link-left">
                    <h3>Master’s Program in Business and Financial Economics</h3>
                    <ul class="section-studyatschool-Link-list">
                        <li><p class="section-studyatschool-Link-list-name">Duration</p><p class="section-studyatschool-Link-list-values">12 months</p></li>
                        <li><p class="section-studyatschool-Link-list-name">Price</p><p class="section-studyatschool-Link-list-values">$ 2000</p></li>
                    </ul>
                </div>
                <div class="section-studyatschool-Link-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                </div>
            </a></div>
        </div>
    </div>
</div>
//= _footer.html
<link rel="stylesheet" href="css/style.css">
<script src="js/main.js"></script>
</body>
</html>